<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>Dojo Survey</title>
    </head>
    <body>
        <h1>Submitted Info</h1>
        <p>Name: @ViewBag.name</p>
        <p>Dojo Location: @ViewBag.location</p>
        <p>Favorite Language: @ViewBag.favoriteLang</p>
        <p>Comment: @ViewBag.comment</p>
        <a href="/">Go Back</a>
        <h1>@ViewBag.error</h1>
    </body>
</html>