@model Dish
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>CRUDelicious</title>
    </head>
    <body>
        <a href="/"><button>Home</button></a>
        <br>
        <h1>@Model.Name</h1>
        <h2>@Model.chefName</h2>
        <p>@Model.Description</p>
        <p>calories: @Model.calories</p>
        <p>tastiness: @Model.tastiness</p>

        <a href="/delete/@Model.DishId"><button>Delete</button></a>
        <a href="/edit/@Model.DishId"><button>Edit</button></a>
    </body>
</html>